<!doctype html>
<html>
    <head>
        <title>Meeting Metrics</title>
        <script src="https://code.jquery.com/jquery.js"></script>
    </head>
    <body>

        <!-- {% for meeting in meetings.meeting_title %} -->
            <button id="meeting">{ meeting } : { meeting.meeting_id.rating }</button>
            <!-- {% if meeting.recurring is True %} -->
                <button class="ratings-buttons" id="ratings-over-time">Ratings Over Time</button>
            <!-- {% endif %} -->
        <!-- {% endfor %} -->
        
        <button class="ratings-buttons" id="ratings-spread">Ratings Spread</button>
        <button class="ratings-buttons" id="topic-ratings">Topic Ratings</button>



        <script src="file:///Users/nnegri/src/MeetingMetrics_Hackathon/static/meeting_ratings.js"></script>
    </body>

</html>