<!doctype html>
<html>
    <head>
        <title>Meeting Metrics</title>
        <script src="https://code.jquery.com/jquery.js"></script>
    </head>
    <body>

        <!-- {% for meeting in meetings.meeting_title %} -->
            <button id="meeting">{meeting}</button>
        <!-- {% endfor %} -->

        <button id="ratings-over-time">Ratings Over Time</button>





        <script src="file:///Users/nnegri/src/MeetingMetrics_Hackathon/static/meeting_ratings.js"></script>
    </body>

</html>